body {
  background: #f7f7f9;
  font-family: sans-serif, "Poppins";
  position: relative;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

@media only screen and (min-width: 375px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .top-toolbar {
    height: 60px;
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    justify-content: space-between;
    background: #ffff;
    position: fixed;
    width: 100%;
  }

  .logo-placeholder {
    display: flex;
    margin-left: 12px;
    width: 100px;
    padding: 10px 12px;
    /* top: calc(50% - 40px / 2); */
    position: relative;
  }

  .my-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #6070ff;
  }

  .burger {
    right: 24px;
    position: relative;
  }

  .headline {
    padding: 0 24px;
    background-image: url("assets/images/Svg/header-shapes-mobile.svg");
    background-repeat: no-repeat;
    gap: 12px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    border-bottom-left-radius: 50px;
    background-color: #ffff;
    margin-top: 60px;
  }

  .headline h1,
  .headline h2 {
    padding-top: 114px;
    font-weight: 800;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin: 0;
  }

  .introduction {
    height: 146px;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #344563;
    margin-bottom: 0;
  }

  .lets-connect {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #7f8cff;
    width: fit-content;
  }

  .social-media-connect-icons {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    width: 170.17px;
    height: 20px;
    padding-left: 0%;
    align-items: baseline;
    margin: 0 0 25% 0;
  }

  .social-icon {
    width: 20%;
  }

  .work {
    display: grid;
    padding: 0 24px;
  }

  .card {
    margin-top: 114px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding-bottom: 14px;
  }

  .card img {
    padding: 16px 16px 0 16px;
  }

  .details {
    padding: 0 16px 12px 16px;
  }

  .project-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 138%;
    color: #172b4d;
    margin-top: 0;
  }

  .project-meta {
    display: flex;
    width: 236px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: initial;
    list-style-type: none;
  }

  .project-meta :first-child {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
  }

  .role,
  .year {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .circle {
    height: 8px;
    width: 8px;
    background-color: #c1c7d0;
    border-radius: 50%;
    display: inline-block;
  }

  .project-description {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .stacks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: inherit;
    width: 203px;
    height: 24px;
    gap: 8px;
    list-style-type: none;
    padding-left: initial;
  }

  .stacks li {
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .more {
    width: 295px;
    height: 72px;
    display: flex;
    align-items: center;
  }

  .btn-more {
    padding: 12px;
    width: fit-content;
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.03em;
    background-color: #fff;
    border: 1px solid #6070ff;
    color: #6070ff;
  }

  .btn-more:hover {
    color: #ffff;
    background: #6070ff;
  }

  .btn-more:target ~ .btn-more {
    color: #ffff;
    background: #2230d2;
  }

  .about-myself {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top-right-radius: 100px;
    margin: 114px 0px 0;
    padding: 0 24px 100px;
  }

  .about-myself h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-top: 114px;
    margin-bottom: initial;
  }

  .margin-bottom-0 {
    margin-bottom: 0;
  }

  .border-bottom {
    border-bottom: 1px solid #dfe1e6;
  }

  .languages ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 113.85px;
    padding: 0;
    gap: 12px;
  }

  .language-title {
    justify-content: space-between;
  }

  .language-item p {
    padding-left: 16px;
  }

  .languages ul li {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    display: flex;
    list-style-type: none;
    width: auto;
    padding: 9px;
    align-items: center;
  }

  .language-item {
    display: flex;
    list-style-type: none;
    width: auto;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 12px initial;
    padding: 9px;
    align-items: center;
    justify-content: flex-start;
  }

  .allow-down {
    width: 36px;
    height: 18px;
    padding-right: 10px;
  }

  .contact-me {
    background-color: #6070ff;
    background-image: url("assets/images/Svg/contact-form-shapes-mobile.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 0;
    margin-top: -78px;
    padding: 0 24px 16px;
    color: #ffff;
    background-position-x: right;
  }

  .contact-me h2 {
    color: #ffff;
    text-align: center;
    padding-top: 75px;
  }

  .contact-me p {
    text-align: center;
    color: #ebebff;
    font-size: 20px;
    line-height: 28px;
  }

  .form {
    gap: 12px;
    display: grid;
  }

  .form input {
    height: 48px;
  }

  .form textarea {
    padding-top: 15px;
  }

  .form input,
  .form textarea {
    border-radius: 5px;
    border: 1px solid #cfd8dc;
    color: #172b4d;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    padding-left: 16px;
  }
}
